<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

    <th:block layout:fragment="head">
        <title>Spring Boot - JOIN</title>
    </th:block>

    <body>
        <th:block layout:fragment="header" class="header">
            <h2>JOIN</h2>
        </th:block>

        <div layout:fragment="content" class="content">
            <form class="signup-form" method="post" action="/api/auth/signup">
                <p>
                    <label for="username" class="screenreader">Username</label>
                    <input type="text" id="username" name="username" placeholder="Username" required="" autofocus="">
                </p>
                <p>
                    <label for="password" class="screenreader">Password</label>
                    <input type="password" id="password" name="password" placeholder="Password" required="">
                </p>
                <button type="submit" class="primary">Join now</button>
            </form>
        </div>
        <th:block layout:fragment="footer" th:include="~{@{/layout/footer}}"></th:block>
    </body>
</html>